@model List<UniManagementApp.entities.Place>
@{
    ViewBag.Title = "Merit";
    var i = 0;
}

<h2></h2>

<body>
    <h2 align="center">Merit List</h2>
<div align="center" class="mainContainer">
    <table align="center" id="meritTableId" class="table table-condensed table-bordered">
        <thead>
        <tr>
            <th width="2%">Sr #</th>
            <th width="8%">Name</th>
            <th width="8%">Designation & Department</th>
            <th width="3%">BPS</th>
            <th width="8%">Date of Appointment in Current Scale</th>
            <th width="4%">Actual Length 100 % of Days</th>
            <th width="8%">Date of Appointment in Next Lower Scale</th>
            <th width="4%">Actual Length</th>
            <th width="4%">80 % of Days</th>
            <th width="8%">Date of Appointment in Next Lower Scale</th>
            <th width="4%">Actual Length</th>
            <th width="4%">60 % of Days</th>
            <th width="8%">Date of Appointment in Next Lower Scale</th>
            <th width="4%">Actual Length</th>
            <th width="4%">40 % of Days</th>
            <th width="8%">Date of Appointment in Next Lower Scale</th>
            <th width="4%">Actual Length</th>
            <th width="4%">25 % of Days</th>
            <th width="4%">Total Length of Service</th>
            @*<th width="3%">Merit No. in Day</th>*@
            <th width="6%">Status</th>
            <th width="5%">Change or New</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var record in Model)
        {
            <tr>
                @*@for (int i = 1; i <= Model)*@

                <td>@(i += 1)</td>
                <td>@record.Name</td>
                <td>@record.Department.Name @record.DesignationId</td>
                <td>@record.ScaleNo.Id</td>
                <td>@record.CurrentScaleAppointmentDate</td>
                <td>@record.CurrentScaleLength</td>
                <td>@record.ImmediateLowerScaleAppointmentDate</td>
                <td>@record.ImmediateLowerScaleLength</td>
                <td>@(Convert.ToDouble(record.ImmediateLowerScaleLength) * 0.8)</td>
                <td>@record.NextLowerScaleAppointmentDate</td>
                <td>@record.NextLowerScaleLength</td>
                <td>@(Convert.ToDouble(record.NextLowerScaleLength) * 0.6)</td>
                <td>@record.NextLowerScaleAppointmentDate1</td>
                <td>@record.NextLowerScaleLength1</td>
                <td>@(Convert.ToDouble(record.NextLowerScaleLength1) * 0.4)</td>
                <td>@record.NextLowerScaleAppointmentDate2</td>
                <td>@record.NextLowerScaleLength2</td>
                <td>@(Convert.ToDouble(record.NextLowerScaleLength2) * 0.25)</td>

                <td>
                    @(Convert.ToInt32(record.CurrentScaleLength) + Convert.ToInt32(record.ImmediateLowerScaleLength)
                      + Convert.ToInt32(record.NextLowerScaleLength) + Convert.ToInt32(record.NextLowerScaleLength1)
                      + Convert.ToInt32(record.NextLowerScaleLength2))
                </td>
                <td>@record.Status.Name</td>
                <td>@record.Allotment</td>
            </tr>
        }
        </tbody>

    </table>
</div>
</body>
                
